<!-- views/partials/footer.ejs -->
<footer class="footer-copyright">
    <div class="container-fluid text-center">
        <span class="text-muted"><h4>© DevNet Sandbox 2019</h4></span>
    </div>
</footer>
