<nav class="navbar navbar-collapse navbar-dark bg-dark" id=nav-top>

  <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="https://developer.cisco.com/sandbox"><img src="img/Devnet_Sandbox_3000x31150_transparent_Sandbox.png" alt="Sandbox Powered Logo" height="80" width="80"></a>
    </li>
  </ul>

  <h1><font size="20" face="avengeance mightiest avenger" color="deepskyblue"> DevNet Sandbox's Tablet Teaser </font></h1>

  <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://developer.cisco.com/sandbox"><img src="img/Devnet_Sandbox_3000x31150_transparent_Sandbox.png" alt="Sandbox Powered Logo" height="80" width="80"></a>
      </li>
  </ul>

</nav>
