<meta charset="utf-8">
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="nodeJS Template">
<meta name="author" content="Tom Davies">
<meta http-equiv="refresh" content="60; URL=http://localhost:8080">

<!-- styles -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
<!-- Fav and touch icons -->
<link rel="shortcut icon" href="img/favicon.ico">
